body{

  background-color: #106e73;
}
.logo{
    width: 20%;
    margin-left: 60px;
    /* background-color: red; */
}

.main {
    margin-top: 300px;
	position: relative;
	display: flex;
	flex-direction: column;
	/* background-color: #240046; */
    background-color:#6f8081;
	max-height: 480px;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 7px 7px 10px 3px #24004628;
	width: 30%;
	margin: auto;
  }
  
  .form {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 24px;
  }
  
  /*checkbox to switch from sign up to login*/
  #chk {
	display: none;
  }
  
  /*Login*/
  .login {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .login label {
	margin: 25% 0 5%;
  }
  
  label {
	color: #fff;
	font-size: 2rem;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
  }
  
  .input {
	width: 100%;
	height: 40px;
	background: #e0dede;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 4px;
  }
  
  /*Register*/
  .register {
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(5%);
	transition: .8s ease-in-out;
	/* width: 40%; */
  }
  
  .register label {
	color: #106e73;;
	transform: scale(.6);
  }
  
  #chk:checked ~ .register {
	transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
	transform: scale(1);
	margin: 10% 0 5%;
  }
  
  #chk:checked ~ .login label {
	transform: scale(.6);
	margin: 5% 0 5%;
  }   
  /*Button*/
  .form button {
	width: 85%;
	height: 40px;
	margin: 12px auto 10%;
	color: #fff;
	/* background: #573b8a; */
    background: #106e73;;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: .2s ease-in;
  }
  
  .form button:hover {
	/* background-color: #6d44b8; */
    background: #106e73;;
  }